<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.DesignTools.Extensibility" version="17.0.32112.339" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.for.Wpf.Xaml" version="2021.3.914" targetFramework="net48" />
  <package id="Telerik.Windows.Controls.Input.for.Wpf.Xaml" version="2021.3.914" targetFramework="net48" />
</packages>